secrets.env
!config/

config/*
!config/openvpn/
!config/heimdall/
!config/jackett/
!config/suricata/
!config/traefik/
!config/prometheus/
!config/grafana/

config/openvpn/*
!config/openvpn/openvpn.conf

config/heimdall/*
!config/heimdall/php/
!config/heimdall/www/
config/heimdall/php/*
!config/heimdall/php/php-local.ini
config/heimdall/www/*
!config/heimdall/www/backgrounds/

config/jackett/*
!config/jackett/Jackett/
config/jackett/Jackett/*
!config/jackett/Jackett/Indexers/
config/jackett/Jackett/Indexers/*.bak
