secrets.env
!config/

config/*
!config/fail2ban/
!config/grafana/
!config/heimdall/
!config/jackett/
!config/letsencrypt/
!config/openvpn/
!config/postgres/
!config/rssbridge/
!config/prometheus/
!config/suricata/
!config/traefik/
!config/redis/
!config/nfs/
!config/gitea-runner/

config/openvpn/*
!config/openvpn/openvpn.conf

config/heimdall/*
!config/heimdall/php/
!config/heimdall/www/
config/heimdall/php/*
!config/heimdall/php/php-local.ini
config/heimdall/www/*
!config/heimdall/www/backgrounds/

config/jackett/*
!config/jackett/Jackett/
config/jackett/Jackett/*
!config/jackett/Jackett/Indexers/

# Contains login information.
!config/jackett/Jackett/Indexers/*
config/jackett/Jackett/Indexers/*.bak
config/jackett/Jackett/Indexers/aither.json
config/jackett/Jackett/Indexers/speedcd.json
config/jackett/Jackett/Indexers/demonoid.json
config/jackett/Jackett/Indexers/prostylex.json

config/letsencrypt/*
!config/letsencrypt/nginx/
!config/letsencrypt/php/
!config/letsencrypt/www/
!config/letsencrypt/fail2ban/
config/letsencrypt/nginx/proxy-confs/*.sample
config/letsencrypt/nginx/dhparams.pem
config/letsencrypt/nginx/.htpasswd
config/letsencrypt/fail2ban/*
!config/letsencrypt/fail2ban/jail.local
