# vim: set ft=sh
VPN_USER=user@email.com
VPN_PASS=password
POSTGRES_PASSWORD=password
DB_PASSWORD="${POSTGRES_PASSWORD}"
SMTP_PASS=password
SMTP_PASSWORD=password
PGADMIN_DEFAULT_PASSWORD=password
NEXTCLOUD_ADMIN_PASSWORD=password
WEBPASSWORD=password

# Generate alphanumeric strings at least 64 chars long.
# Try using: pwgen -Bsv1 64
GITLAB_SECRETS_OTP_KEY_BASE=asdf
GITLAB_SECRETS_DB_KEY_BASE=asdf
GITLAB_SECRETS_SECRET_KEY_BASE=asdf
