# Sample Suricata systemd unit file.
[Unit]
Description=Suricata Intrusion Detection Service
After=syslog.target network-online.target systemd-tmpfiles-setup.service firewalld.service
Requires=firewalld.service
Documentation=man:suricata(1)

[Service]
# Environment file to pick up $OPTIONS. On Fedora/EL this would be
# /etc/sysconfig/suricata, or on Debian/Ubuntu, /etc/default/suricata.
EnvironmentFile=-/etc/sysconfig/suricata
#EnvironmentFile=-/etc/default/suricata
ExecStartPre=/bin/rm -f /var/run/suricata.pid
# firewalld will not track established packets, so Suricata will get lots of 3-way handshake errors.
#ExecStartPre=/usr/bin/firewall-cmd --direct --add-rule ipv4 filter INPUT 0 -j NFQUEUE
#ExecStartPre=/usr/bin/firewall-cmd --direct --add-rule ipv4 filter OUTPUT 0 -j NFQUEUE
ExecStartPre=/usr/sbin/iptables -I INPUT -m mark ! --mark 0x1/0x1 -j NFQUEUE
ExecStartPre=/usr/sbin/iptables -I OUTPUT -m mark ! --mark 0x1/0x1 -j NFQUEUE
ExecStart=/sbin/suricata -c /etc/suricata/suricata.yaml --pidfile /var/run/suricata.pid $OPTIONS
ExecReload=/bin/kill -USR2 $MAINPID

#ExecStopPost=/usr/bin/firewall-cmd --direct --remove-rule ipv4 filter INPUT 0 -j NFQUEUE
#ExecStopPost=/usr/bin/firewall-cmd --direct --remove-rule ipv4 filter OUTPUT 0 -j NFQUEUE
ExecStopPost=/usr/sbin/iptables -I INPUT -m mark ! --mark 0x1/0x1 -j NFQUEUE
ExecStopPost=/usr/sbin/iptables -I OUTPUT -m mark ! --mark 0x1/0x1 -j NFQUEUE

### Security Settings ###
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectControlGroups=true
ProtectKernelModules=true

[Install]
WantedBy=multi-user.target
