[Unit]
Description=Suricata update

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/suricata-update
ExecStartPost=/usr/bin/systemctl try-reload-or-restart suricata.service

[Install]
WantedBy=multi-user.target
