[Unit]
Description=Weekly Flotilla Nextcloud Borg backup

[Timer]
OnCalendar=Thu *-*-* 00:30:00 America/Indiana/Indianapolis
Persistent=true

[Install]
WantedBy=timers.target
