[Unit]
Description=Weekly Flotilla Nextcloud Borg backup

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
