[Unit]
Description=Prune and compact local Flotilla Borg repository
RequiresMountsFor=/mnt/backup/repos/entourage

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/bin/env bash /usr/local/lib/flotilla/borg/borg_repo_prune_compact.sh
