[Unit]
Description=Monthly local Flotilla Borg repository check

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
