[Unit]
Description=Check local Flotilla Borg repository
RequiresMountsFor=/mnt/backup/repos/entourage

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/bin/env bash /usr/local/lib/flotilla/scripts/borg_repo_check.sh
